@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="text-align:center">@ViewData["Title"]</h1>

<p style="text-align:center">
    This website has no purpose of violating any license on images, that's why.
</p>
